body {
  background-color: #443f3f;
  height: 250vh;
  min-height: 1500px;
  background-color: #4158D0;
  background-image: linear-gradient(57deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}

.light {
  font-weight: 400;
}

ul {
  padding-left: 5px;
}

ul li {
  font-weight: 700;

& p {
  font-weight: 400;
}
}

.skills-icons {
  padding: 5px;
}

.tech-stack {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  
  svg {
    padding: 2px;
    max-width: 15px;
  }
}