body {
  background-color: #443f3f;
  height: 250vh;
  min-height: 1500px;
  background-color: #4158D0;
  background-image: linear-gradient(57deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}

.light {
  font-weight: 400;
}

ul {
  padding-left: 5px;
}

ul li {
  font-weight: 700;

& p {
  font-weight: 400;
}
}

.call-to-scroll {
  position: fixed;
  bottom: 15px;
  transform: translateX(-50%);
  opacity: 1;
  left: 50%;
  transition: .5s ease-in-out;

  .arrow-icon {
    margin: 0 5px;
    animation: 5s moveArrow infinite;

    @keyframes moveArrow {
      0% {
        transform: translateY(0);
      }
      20% {
        transform: translateY(20%);
      }
      40% {
        transform: translateY(-20%);
      }
      60% {
        transform: translateY(0);
      }
    }
  }
}

.skills-icons {
  padding: 5px;
}

.tech-stack {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  
  svg {
    padding: 2px;
    max-width: 4vw;
  }
}
